@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark; 
}

@theme {
  --color-brand: #7480ff;
}

body {
  background-color: var(--color-base-200);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn, .input, .textarea, .card {
  transition: all 0.2s ease-in-out;
}
